body{
    background-color: #191919;
    font-family:'DM Sans', sans-serif;
    margin-left: 70px;
    margin-right: 70px;
}
a{
    color: #fff;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.section{
    padding-block: 80px;
}