.main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 5vw;
    height: 873px;
    max-width: 1920px;
    &__icons-list{
        display: flex;
        gap: 10px;
        padding-left: 0;
    }
    &__title{
        @include large-text(70,22);
    }
    &__description{
        @include small-text;
    }
    &__components{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__image{
        width: 750px;
        height: 1009px;
    }
}
@media (max-width: 1024px){
    .main{
        &__image{
            width: 649px;
            height: 843px;
        }
    }
}

