.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    &__title{
        @include large-text(36,22);
    }
    &__name{
        @include small-text;
        color: rgba($color: #ffffff, $alpha: 0.7);
    }
    &__item{
        width: 22vw;
        background-color: black;
        border-radius: 30px;
        padding: 50px;
    }
}